table {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 3em 3em 0;
}

td:not(.column-icon) {
    border: 1.5px solid black;
    text-align: left;
    padding: 5px;
    font-size: 20px;
}

th {
    border: 1.5px solid black;
    text-align: center;
    padding: 5px;
    font-size: 22px;
}

.column-icon {
    width: 125px;
    text-align: center;
    border: 1.5px solid black;
    padding: 5px;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
    background-color: rgba(50, 205, 50, 0.29);
    color: black;
    padding: 30px;
}

footer {
    text-align: right;
    font-size: x-large;
}

.input-field {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgba(11, 1, 1, 0.54);
    margin: 20px;
}

input {
    width:30%;
    padding: 0.5em;
}

.submit-btn {
    padding: 0.5em;
}

.status[data-completion = true] {
    background-color: limegreen;
}

.pointer {
    cursor: pointer;
}